<% layout('layouts/boilerplate') %>

<h1>管理画面トップ</h1>

<h2><a href="/admin/info">お知らせ機能</a></h2>
<h2><a href="/admin/groups">グループ管理</a></h2>
<h2><a href="/admin/users">ユーザー管理</a></h2>
<h2><a href="/admin/planner">Planner管理</a></h2>
<h2><a href="/admin/inquiries">お問合せ</a></h2>
<h2><a href="/admin/qa">Q&A管理</a></h2>
<h2><a href="/admin/logs">ログ管理</a></h2>
<h2><a href="/admin/ocrs">OCR結果のログ</a></h2>
<h2><a href="/admin/dictionary">Ai辞書の編集</a></h2>
<h2><a href="/admin/backup">データの一括ダウンロード</a></h2>
