<footer class="footer py-3 mt-auto" style="background-color: #3a7ca5;">
    <div class="container text-white">
      <div class="row">
        <div class="col-md-4 text-start">
          <div><a href="/kiyaku" class="text-white text-decoration-none">利用規約</a></div>
          <div><a href="/guide" class="text-white text-decoration-none">ご利用ガイド</a></div>
          <div><a href="/privacy" class="text-white text-decoration-none">個人情報保護方針</a></div>
        </div>
        <div class="col-md-4 text-start">
          <div><a href="/planner/about" class="text-white text-decoration-none">All About meアドバイザーになろう</a></div>
          <div><a href="/planner/service" class="text-white text-decoration-none">All About meアドバイスサービス</a></div>
        </div>
        <div class="col-md-4 text-end">
          <div>運営会社</div>
        </div>
      </div>
      <div class="text-center mt-3">
        &copy; Kurashi Campany Inc. 2025
      </div>
    </div>
  </footer>
<% if (typeof page !== 'undefined' && (page === 'entry' || page === 'edit'|| page === 'search'|| page === 'list')) { %>
    <script src="/js/app.js"></script>
<% } %>