<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="offset-2 col-8">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%= err.message %></h4>
            <% if (typeof showStack !== 'undefined' && showStack) { %>
                <pre style="white-space: pre-wrap"><%= err.stack %></pre>
            <% } else { %>
                <p>問題が発生しました。時間をおいて再度お試しください。</p>
            <% } %>
        </div>
    </div>
</div>
