<% layout('layouts/boilerplate') %>

    <div class="waku-1">
        <div class="waku-7">
            <a class = "button-3" href="profile" id="" name = "profile">プロフィール</a>
        </div>
        <div class="waku-7">
            <a class = "button-3" href="/group" id="" name = "">新規グループ登録 / 編集</a>
        </div>
    </div>