<% if (user) { %>
    <!-- ログイン時の表示 -->
    <% layout('layouts/boilerplate') %>
<% } else { %>
    <!-- 未ログイン時の表示 -->
    <% layout('layouts/top_boilerplate') %>
<% } %>

<h1 class="mt-4 mb-4 pb-2">個人情報保護方針</h1>

<h3>個人情報保護方針（プライバシーポリシー）</h3>
<p>Kurashi Company Inc.（以下「当社」といいます。）は、サービスを通して、自らが、自らの目的に応じて自主的に管理出来る環境を提供し、暮らしがより豊かになる手助けをしていきたいと考えています。その目標を実現するために将来にわたってお客様の大切な個人情報を適正、安全に取り扱うことが重要と考えており、全従業者が遵守すべき行動基準として本個人情報保護方針を定め、その遵守の徹底を図ることといたします。</p>
<p>当社は、すべての事業で取り扱う個人情報に関して、個人情報の取扱いに関して適用される法令、国が定める指針及びその他の規範を遵守します。</p>
<p>当社は、個人情報を取得する場合、事前に利用目的をできる限り明確にし、適切な措置によって取得を行います。また、取得した個人情報の利用にあたっては、利用目的の範囲内でのみ利用し、目的外利用を行わないための適切な措置を講じます。 当社は、取得した個人情報を本人の同意なく第三者提供することはいたしません。</p>
<p>当社は、個人情報への不正アクセス、個人情報の紛失、破壊、改ざん、漏洩、滅失などのリスクに対して合理的な安全対策及び是正措置を講じます。</p>
<br>
<p>当社は、取得した個人情報の取扱いの全部又は一部を委託する場合は、委託先を適切に選定し、また、委託先に安全管理措置を遵守させるために必要な契約を締結する等の必要な措置を講じます。</p>
<br>
<p>当社は、個人情報に関するお問い合わせや苦情に対して適切に対応いたします。</p>
<p>当社は、個人情報の利用目的の通知、開示、訂正、削除、利用停止等の要請に対して遅滞無く対応いたします。</p>
<p>当社は、個人情報保護への取り組みを継続的に見直し改善いたします。</p>
<br>
<p>制定日：2025 年 5 月 1 日</p>
<p>Kurashi Company Inc.</p>
<p>代表取締役社長 大薮　昌幸</p>
<br>
<h2>個人情報の取扱について</h2>
<p>[事業者の名称]Kurashi Company Inc.</p>

<p>[代表者の氏名] 代表取締役社長　大薮　昌幸</p>
<br>
<h3>[個人情報の利用目的の公表]</h3>
<p>当社が取得する個人情報の利用目的は以下の通りです。</p>

<h2>(1)当社サービス（家族の家計簿、その他サービス）を利用するお客様の個人情報</h2>
<ul>
    <li>・当社サービスを提供するにあたり、その運営管理をするため</li>
    <li>・本人の依頼に基づき、紹介先への依頼者情報を提供するため</li>
    <li>・当社サービスに関するご案内、サポート、お客様からのお問い合わせ、苦情、紛争及び訴訟等への対応のため</li>
    <li>・当社及び当社グループ会社を含む提携会社その他の第三者の商品、サービス、イベント、セミナー情報等を郵便、電話、FAX、電子メール、広告の配信又は表示等を通じてご案内するため</li>
    <li>・取得した情報を解析又は分析し、それぞれのお客様に応じた上記のご案内を行うため</li>
    <li>・当社サービスに関する当社の規約、ポリシー等の変更等をお客様に通知するため</li>
    <li>・キャンペーン等の運営管理のため</li>
    <li>・上記に付随する業務遂行、連絡、手続き及びお問い合わせ対応のため</li>
    <li>・取得した情報を解析又は分析して、当社サービスの改善及び向上並びに新規サービスの開発に利用するため</li>
    <li>・お問い合わせ対応の品質向上及びお問い合わせ内容等の正確な把握のため</li>
    <li>・個人を特定できない範囲で当社サービスに関する統計データを作成、利用、開示又は提供するため</li>
    <li>・個人を特定できないようにデータ加工したうえで、当社サービスの改善や向上、マーケティング資料を作成、利用又は提供するため</li>
    <li>・当社サービスに関する不正利用防止や安全性の確保のため</li>
</ul>

<h2>(2)当社又は他社が主催するイベント、セミナー等への申込み又は参加に伴って取得する個人情報</h2>
<ul>
    <li>・イベント、セミナー等開催（運営・管理）のため（共同開催企業、協賛企業への参加者情報提供を含む）</li>
    <li>・当社及び当社グループ会社を含む提携会社の商品、サービス、イベント、セミナー情報等を郵便、電話、FAX、電子メール等を通じてご案内するため</li>
    <li>・取得した情報を解析又は分析し、それぞれの参加者に応じた上記のご案内を行うため</li>
    <li>・キャンペーン等の運営管理のため</li>
    <li>・取得した情報を解析又は分析して、イベント又はセミナーの企画、当社サービスの改善及び向上並びに新規サービスの開発に利用するため</li>
</ul>

<h2>(3)お問い合わせ、ご意見等受付時に取得する個人情報</h2>
<ul>
    <li>・各種お問い合わせに対応するため</li>
    <li>・お問い合わせ対応の品質向上及びお問い合わせ内容等の正確な把握のため</li>
    <li>・取得した情報を解析又は分析して、当社サービスの改善及び向上並びに新規サービスの開発を行うため<br>（※当社では上記のため通話内容を録音させていただくことがございます）</li>
</ul>

<h2>(4)取引先個人情報</h2>
<ul>
    <li>・取引先としての選定業務、営業情報の提供業務、契約締結手続き業務、取引管理業務及びこれらに付随する業務の遂行のため</li>
    <li>・当社及び当社グループ会社を含む提携会社の商品又はサービス、イベント情報等を郵便、電話、FAX、電子メール等を通じてご案内するため</li>
    <li>・取得した情報を解析又は分析し、それぞれの取引先に応じた上記のご案内を行うため</li>
</ul>

<h2>(5)公開又は公表されている個人情報及びデータベース事業者から提供される個人情報</h2>
<ul>
    <li>・当社及び当社グループ会社を含む提携会社の商品又はサービス、イベント情報等を郵便、電話、FAX、電子メール等を通じてご案内するため（取得した情報を解析又は分析してご案内に利用することを含む）</li>
    <li>・上記に付随する業務遂行、連絡、手続き及びお問い合わせ対応のため</li>
</ul>

<h2>(6)従業員の個人情報</h2>
<ul>
    <li>・従業員（退職者を含む）の雇用管理、人事関連事務処理等の各種手続き並びにその他一般事務の連絡及びお問い合わせ対応のため</li>
    <li>・従業員の健康管理及び適正な就業環境の確保のため<br>※従業員等の個人情報のグループ共同利用について</li>
    <li></li>
</ul>

<h2>(7)株主様情報</h2>
<ul>・会社法その他各種法令に基づく株主管理、各種株主施策の実施及び株主様への連絡のため</ul>

<h2>(8)受託業務の個人情報</h2>
<ul>・受託業務の遂行のため</ul>
<p>当社は、上記（1）から(8)に定める利用目的のほか、個人情報の取得に際して当社が本人に通知した利用目的に必要な範囲で個人情報を利用します。</p>


<h3>[個人情報を第三者に提供することが予定される場合の事項]</h3>
<ul>
    <li>(1)当社サービスにおいて障害が発生した場合に、提携金融機関又は提携会社に対し、お客様への対応、障害の原因究明、障害の解消及び当社サービスの改善等のために、当社サービスで得た情報を提供する場合<br>（当該障害の対応のため、提携金融機関又は提携会社から個人情報の提供を受ける場合があります。）</li>
    <li>(2)セミナー・イベントの共同開催会社及び協賛会社に対し、当該企業が参加者のニーズ等の把握や参加者に適切な情報提供又は連絡等を行うため、WEB等で取得した申込情報（氏名、会社名、連絡先等）及び会場やWEB等で取得したアンケート情報（氏名、会社名、連絡先、アンケート記載事項等）を提供する場合 尚、当社までご連絡いただければ、セミナー・イベントの共同開催会社や協賛会社に対しての情報提供を停止いたします。</li>
    <li>(3)レシート情報等をテキスト化するサービスを行う企業に対し、当該解析業務の精度向上又は統計情報として活用するため、当該レシート情報等を提供する場合</li>
    <li>(4)当社が広告配信事業者（以下の外国の広告配信事業者を含みます。）の広告配信サービスを利用する場合に、当該広告配信事業者に対して、お客様に関連した当社及び当社グループ会社を含む提携会社その他の第三者の広告を配信するため、当社が取得した個人情報（メールアドレス、クッキー等）をハッシュ化処理（元の形式に戻せない処理）した形式等の個人を識別する情報を含まない形式により提供する場合。</li>
    <li>(5)当社サービスの利用規約の規定に基づいて提携会社へ利用者の情報を提供する場合</li>
</ul>
<p>上記以外については、ご本人の同意がある場合又は法令に基づく場合を除き、第三者に提供いたしません。</p>

<h3>[共同利用]</h3>
<p>当社は、当社のグループ会社との間で、当社が取得した個人データを共同利用する場合があります。</p>

<h2>(1)共同利用する個人データの項目</h2>
<ul>
    <li>・氏名、事業者名、住所、メールアドレス、電話番号その他の個人の属性に関する情報（ただし、利用者が登録したユーザーID及びパスワード等の認証情報を除きます。）</li>
    <li>・ログインIDに関する利用者の情報</li>
    <li>・当社サービスの利用履歴に関する情報</li>
    <li>・当社サービスの利用者が当社のサービスに送信又は保存することにより取得するデータ</li>
    <li>・前各号のデータを解析又は分析することにより得られるデータ</li>
</ul>

<h2>(2)共同利用する範囲</h2>
<ul>・当社及び当社の国内グループ会社</ul>

<h2>(3)共同利用する目的</h2>
<p>共同利用の目的は、当社が規定する個人情報保護方針（「個人情報の取扱について」を含みます。）の[個人情報の利用目的の公表]に記載された利用目的と同じですが、共同利用先における利用目的については、「当社」を当社のグループ会社と、また、「当社サービス」を当社のグループ会社の提供するサービスと読み替えるものとします。</p>
<p>主に、以下の目的で利用をいたします。</p>
<ul>
    <li>・当社及び当社グループ会社を含む提携会社の商品、サービス、イベント、セミナー情報等を郵便、電話、FAX、電子メール等を通じてご案内するため</li>
    <li>・データを解析又は分析して、上記のご案内並びに当社及び当社の国内グループ会社におけるサービスの運営管理、改善及び向上並びに新規サービスの開発に利用するため</li>
</ul>

<h2>(4)個人データの管理について責任を有する者</h2>
<p>Kurashi Company Inc.</p>
<p>神奈川県横浜市戸塚区吉田町1109-8</p>
<p>代表取締役社長　大薮　昌幸</p>

<h2>[業務の委託]</h2>
<ul>
    <li>・当社は利用目的の達成に必要な範囲内において個人情報の取扱いの全部又は一部を委託する場合があります。また、この場合、委託先が保有する情報と照合又は突合して委託する業務を実施することがあります。</li>
    <li>・当社は当社サービスの開発・運用に関する業務を外国の事業者に委託することがあります。この場合、当社は委託先の事業者と当該委託に関する契約を締結し、個人情報の取扱いに関する相当措置の継続的な実施を確保することとしています。なお、委託先の事業者が当該業務において取り扱う個人情報は日本国内のサーバにおいて保管し、外国のサーバに移転することはありません。</li>
</ul>

<h2>[個人情報の提供の任意性の有無]</h2>
<p>個人情報の提供は任意ですが、必要な個人情報の提供をいただけない場合、ご本人様に対して適切なご対応ができない場合がございます。</p>

<h2>[外部送信ツールの利用等]</h2>
<p>当社は、当社のウェブサイト若しくはサービスの利用状況の把握、当社のウェブサイト若しくはサービスの運営管理若しくは改善又は当社若しくは当社以外の第三者が提供する広告の最適化（当該広告の効果測定を含みます。）の目的のため、当社又は第三者が提供するツールによるクッキー又はウェブビーコン等の技術（以下「外部送信ツール」といいます。）を利用して、お客様に関する情報（広告識別子その他ご利用の端末やアプリの情報、IPアドレス等のネットワークの情報やアクセス履歴等。なお、アクセス履歴には、広告ページ及び当社のサービスとクッキー連携しているサイトでの行動履歴等のアクセスログを含みます。）を取得し、分析しています。</p>
<p>また、当社は、上記の目的のため、ツール提供元又は広告配信事業者等の第三者（以下「外部送信ツール提供者等」といいます。）から外部送信ツール提供者等が収集した上記のお客様に関する情報及び当該外部送信ツール提供者等による分析結果の情報等を取得する場合があります。</p>
<p>これらの情報が単体では個人を識別する情報を含まない場合には個人情報に該当しませんが、当社は、これらの情報とお客様の個人情報を紐づける場合があり、この場合は、これらの情報も個人情報として取扱います。</p>
<p>※外部送信ツール提供者等が取得する情報は当該外部送信ツール提供者等の定める方針（プライバシーポリシー）に基づき管理されています。外部送信ツール提供者等の定める方針については、外部送信ツール提供者等のサイトをご覧ください。</p>
<p>※外部送信ツールの利用に関する詳細については「外部送信ツールに関する公表事項」をご確認ください。</p>

<h2>[個人データの安全管理]</h2>
<p>当社は、個人データ（当社が取得し、又は取得しようとしている個人情報であって、当社が個人データとして取り扱うことを予定しているものを含みます。）の安全管理のために以下の措置を講じています。</p>

<p>(1)基本方針の策定</p>
<ul>・個人データの適正な取扱いの確保のため、「関係法令・ガイドライン等の遵守」、「質問及び苦情処理の窓口」等についての基本方針として個人情報保護方針を策定しています。</ul>

<p>(2)個人データの取扱いに係る規律の整備</p>
<ul>
    <li>・個人データの取得、利用、保存、提供、削除・廃棄等の各段階における取扱い方法を定めた社内規程を策定しています。</li>
    <li>・個人データを取扱う全従業者が、より適切な業務遂行ができるよう、詳細を定めた運用手順も別途整備しています。</li>
</ul>

<p>(3)組織的安全管理措置</p>
<ul>
    <li>・個人データの取り扱いに関する管理責任者を設置するとともに、個人データを取り扱う従業者及び取り扱う個人データの範囲を明確化しています。またアクセス権限の定期的な見直しを実施しています。</li>
    <li>・社内規程等への違反及び個人データの漏洩や紛失等の事案が発生している事実又は兆候を把握した場合の責任者への報告連絡体制を整備しています。</li>
    <li>・インシデントへの対応を速やかにできるよう体制を整備しています。</li>
    <li>・個人データの取扱に関し、定期的に監査部門による監査を実施しています。</li>
</ul>

<p>(4)人的安全管理措置</p>
<ul>
    <li>・個人データの取扱い及び情報セキュリティに関する留意事項について、全従業者に定期的な研修とその理解度の確認を実施し、さらなる意識の向上を図っています。</li>
    <li>・個人データについての秘密保持に関する事項を就業規則に規定し、また入社時に従業員から誓約書を徴収しています。</li>
</ul>

<p>(5)物理的安全管理措置</p>
<ul>
    <li>・執務エリアにおける従業者の入退室管理を実施しています。</li>
    <li>・個人データを取り扱う機器、電子媒体及び書類等の盗難又は紛失等を防止するための措置を講じるとともに、事業所内の移動を含め、当該機器、電子媒体等を持ち運ぶ場合、暗号化や施錠等を行い盗難又は紛失等が発生した際の影響を最小限にする措置を実施しています。</li>
</ul>



<p>(6)技術的安全管理措置</p>
<ul>
    <li>・個人データを取り扱う従業者及び取り扱う個人データを限定しています。</li>
    <li>・個人データを取り扱うシステムを外部からの不正アクセス又は不正ソフトウェアから保護する仕組みを導入するとともに、アクセスログ等をモニタリングしています。</li>
    <li>・個人データを取り扱うシステムに対し、外部機関による脆弱性診断の実施や、常日頃から最新セキュリティ情報を取得するとともに、リスクの評価と適切な対応に努めています。</li>
</ul>

<p>(7)外的環境について</p>
<ul>・外国において個人データを取り扱う場合、当該外国の個人情報の保護に関する制度等を把握した上で、安全管理のために必要かつ適切な措置を講じています。</ul>

<h2>[個人データの開示等]</h2>
<ul>
    <li>・ご本人から個人データの利用目的の通知、開示（第三者提供記録の開示を含みます）、訂正等（内容の訂正、追加又は削除）、利用停止等（利用の停止又は消去）、第三者の提供の停止（以下「開示等」と総称します）を請求された場合、個人情報保護法に基づき合理的な範囲内で対応します。</li>
    <li>・開示等の請求にあたっては、当社所定の書式（開示等申請書）をご利用ください。当社所定の書式については、下記窓口までお問い合わせください。</li>
    <li>・当社は、身分証明書等によりご本人からの開示等の請求であることを確認のうえ、遅滞なく個人データの開示等を行い、その旨を原則として電磁的記録の提供による方法により通知します。代理人による請求の場合は、正当な権限を有する代理人であることを公的書類、委任状等により確認します。（対象となる個人データが存在しない場合又は正当な理由に基づき開示等を行わない決定を行った場合は、その旨を通知します）</li>
    <li>・個人データの開示及び利用目的の通知の請求につきましては、当社所定の手数料（1件あたり1,000円）が必要となります。</li>
</ul>
<br>
<h2>[個人情報の取扱いに関する苦情及び開示等の請求の申し出窓口]</h2>
<p>Kurashi Company Inc 　個人情報お問い合わせ窓口</p>
<p>〒244-0817 神奈川件横浜市戸塚区吉田町1109-8</p>
<br>
<p>（制定日：2025年5月1日）</p>