<% layout('layouts/top_boilerplate') %>

    <div class="waku-1">
        <h1>All About me<br>について</h1>
        <h2>【アプリについて】</h2>
        <p>毎日の暮らしが”心も体も健康”で”楽しく”、”生き生き”と"安心"して"安全"に送れように、何かの手助けになればいいなという思いをサービスにしました</p>
        <p>※一人でもグループでもご利用いただけます。</p>

            <small><a href="/guide">サービス概要はこちらで確認ください</a></small>
    </div>
    <div class="waku-1">
        <hr>
        <div class="waku-5">
            <label for="login">まだ会員ではない方</label>
        </div>
        <a class = "login" href="/register">新規会員登録</a>
        <hr>
        <div class="waku-5">
            <label for="login">既にアカウントをお持ちの方</label>
        </div>
        <a class = "login" href="/login">ログイン画面へ</a>
        <hr>
        
    </div>