<% layout('layouts/top_boilerplate') %>

    <p>パスワードを忘れた方はメールアドレスを入力して「パスワードリセット」ボタンをクリックしてください。登録したメールアドレスに再設定用のURLを送ります</p>
    <hr>
    <form action="/forgot-password" method="POST">
        <div class="mb-3">
            <label class="waku-3" for="email">登録したメールアドレス</label>
            <input class="waku-4" type="email" id="email" name="email" placeholder="メールアドレスを入力してください" required>
        </div>
        <div class="waku-5">
            <button class="button-3">パスワードリセット</button>
        </div>
    </form>