<% layout('layouts/boilerplate') %>

<div class="container my-5">
<h1 class="mb-4">暮らしアドバイザーについて<br><small>for Planner</small></h1>
<h2 class="mt-5 mb-3 ps-3 border-start border-4 border-primary"><strong>暮らしアドバイザーになるには</strong></h2>
<div class="ms-4">
    <p class="mb-3">普段のお仕事や実生活の中でスキルや経験に基づいて助言される活動を行っている方が暮らしアドバイザー登録手順に従ってお申込の手続をしていただくと
    All About me事務局で申請内容を確認させていただき、採用・不採用の判断をさせていただきます。</p>
    <p class="mb-3">Plannerの方は、相手の立場に立って話を聞き、共感出来る姿勢がとても大切だと考えています。傾聴力・共感力が必要となり、さらに課題を分解し、実行可能なステップを提案出来る力を要します。</p>
    <p class="mb-3">役に立つ資格は ファイナンシャルプランナー、整理収納アドバイザー、ライフオーガナイザー食生活アドバイザー、社会福祉士/ケアマネージャー、キャリアコンサルタント、医師　などとなります。登録手順をご確認の上お申込ください</p>
</div>
<hr>
<h2 class="ps-3 border-start border-4 border-success"><strong>暮らしアドバイザー登録手順</strong></h2>
<ul class="list-group list-group-numbered mb-5">
    <li class="list-group-item">プロフィール登録　<a href="/profile" class="btn btn-sm btn-outline-primary ms-2" target="_blank">こちらから</a></li>
    <li class="list-group-item">My History設定で「共有カテゴリー一覧」から経歴【Planner】をMyカテゴリーに取込む　<a href="/history/categories" class="btn btn-sm btn-outline-primary ms-2" target="_blank">こちらから</a></li>
    <li class="list-group-item">MyHistoryにPlannerとしての経歴を登録する　<a href="/history/list" class="btn btn-sm btn-outline-primary ms-2" target="_blank">こちらから</a></li>
    <li class="list-group-item">My 履歴書の履歴書設定を登録　<a href="/resume/myresume" class="btn btn-sm btn-outline-primary ms-2" target="_blank">こちらから「履歴書設定」へ</a></li>
    <li class="list-group-item">Planner 職務履歴書の内容を確認して「公開URLを取得する」　<a href="/planner/planner" class="btn btn-sm btn-outline-primary ms-2" target="_blank">こちらから</a></li>
    <li class="list-group-item">公開URLを取得すると「Plannerに申し込む」ボタンが出現。Planner申請フォームに必要事項を入力し申し込む</li>
    <li class="list-group-item text-muted border-top mt-3">管理者が内容を確認し採用または不採用を決定させていただきます。</li>
    <li class="list-group-item">採用された場合、メールにて採用の通知が届きます。メール内の「Planner専用グループに参加」ボタンをクリック</li>
    <li class="list-group-item">不採用の場合、メールにて不採用の通知が届きます</li>
    <li class="list-group-item text-muted border-top mt-3">Planner一覧に掲載される</li>
    <li class="list-group-item">利用者からの申込みがメールで届く</li>
</ul>
<hr>
</div>
