<% layout('layouts/boilerplate') %>

<div class="container my-5">
<h1 class="mb-4">暮らしアドバイスサービスについて<br><small>準備中（有料サービス・予定）</small></h1>
<h2 class="mt-5 mb-3 ps-3 border-start border-4 border-primary"><strong>Plannerになるには</strong></h2>
<div class="ms-4">
    <p class="mb-3">暮らしアドバイザーが自身の実生活の中で培った子育てや家計の管理や介護、健康管理、ライフプランなど経験を活かして、実体験に基づいた助言をしてくれるサービスです。</p>
    <p class="mb-3">ファイナンシャルプランナー 、整理収納アドバイザー 、ライフオーガナイザー 、食生活アドバイザー 、社会福祉士/ケアマネージャー 、キャリアコンサルタント、医師など公的な資格を所有して日々業務として実践されている方もいらっしゃいます。</p>
    <p class="mb-3">All About me に登録しているMyリスト、My日記、MyHistory、家計簿、資産管理を共有しその内容やgChatを通じての会話から自分に寄り添った助言をしてくれます。</p>
    <p class="mb-3">お悩みの相談内容としては人間関係の悩み、お金の悩み、生活の悩み、家族の悩み、自分の悩み、などを相談する事ができます。</p>
</div>
<hr>
<h2 class="ps-3 border-start border-4 border-success"><strong>暮らしアドバイスお申込手順</strong></h2>
<ul class="list-group list-group-numbered mb-5">
    <li class="list-group-item">暮らしアドバイザー一覧から契約した暮らしアドバイザーを選択し申し込む<a href="/planner/list" class="btn btn-sm btn-outline-primary ms-2" target="_blank">こちらから</a></li>
</ul>
<hr>
</div>